.about-main-section{
    margin-top: 60px;
    @include justify(space-between);
    flex-wrap: wrap;
    .nav-side-bar {
        padding: 3%;
        li{
            margin-bottom: 20px;
            a{
                @include font($bold,34px,$primary);
            }
        }
    }
    .p-wrapper{
        background: $background;
        padding: 48px;
        h4{
            @include font($nino-mtavruli,32px,$primary);
            margin-top: 3%;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 29px;
                height: 32px;
                background: white;
                position: absolute;
                top: -4px;
                left: -48px;
            }
        }
        p{
            @include font($regular,22px,$primary);
            margin: 2% 0;
        }
        h5{
            @include font($nino-mtavruli,22px,$primary);
        }
        a{
            @include font($bold,22px,$blue);
        }
        ul{
            list-style: unset;
            margin-left: 22px;
            li{
                @include font($regular,22px,$primary);
            }
        }
    }
}
