footer{
    @include justify(space-between);
    position: relative;
    background: $primary;
    padding: 1%;
    .social-web{
        display: flex;
        .facebook{
            display: flex;
            flex-direction: column;
            a{
                margin: 0 10px 10px 10px;
                @include font($bold,22px,white);
            }
        }
    }
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 400px;
        a{
            &:last-child img{
                max-width: 290px;
                width: 100%;
            }
        }
    }
}