header{
    position: relative;
    background: $background;
    height: 64px;
    padding: 7px 38px;
    @include  justify(space-between);
    .logo{
        position: relative;
        min-height: 120px;
      span{
          position: absolute;
          font-family: $nino-mtavruli;
          color: $primary;
          font-size: 22px;
          bottom: 0px;
          left: 64px;
          width: 247px;
        }  
    }
    nav{
        @include  d-flex(space-between,center,unset);
        ul{
            @include  justify(space-between);
            li{
                font-family: $bold;
                font-size: 34px;
                padding: 0px 30px;
                border-right: 1px solid $primary;
                height: 32px;
                a{
                    color: $primary; 
                }
                &:last-child{
                    border:none;
                    min-width: fit-content;
                }
            }
        }
        img{
            cursor: pointer;
            margin-left: 70px;
        }
        #site-search{
            position: absolute;
            width: 26%;
            height: 48px;
            right: 36px;
            top: 70px;
            @include border(1px,solid,$primary);
            @include font($bold,22px,$primary);
            outline: none;
            &::-webkit-search-cancel-button{
                display: none;   
            }
        }
        #search-button{
            border: none;
            background: none;
            position: absolute;
            right: 36px;
            top: 75px;
        }
    }

}