header{
    position: relative;
    background: $background;
    height: 64px;
    padding: 5px 1.5% 5px 3%;
    @include  justify(space-between);
    .logo{
        position: relative;
        min-height: 120px;
      span{
          position: absolute;
          font-family: $nino-mtavruli;
          color: $primary;
          font-size: 22px;
          bottom: 7px;
          left: 58px;
          width: 247px;
        }  
    }
    nav{
        @include  justify(space-between);
        margin-top: 7px;
        ul{
            @include  justify(space-between);
            li{
                font-family: $bold;
                font-size: 34px;
                border-right: 1px solid $primary;
                height: 32px;

                a{
                    padding: 18px 30px;
                    color: $primary; 
                }
                &:last-child{
                    border:none;
                    min-width: fit-content;
                    padding-right: 20px;
                }
                &:hover a{
                    background: white;
                }
            }
        }
        #site-search{
            position: absolute;
            width: 26%;
            height: 48px;
            right: 36px;
            top: 70px;
            @include border(1px,solid,$primary);
            @include font($bold,22px,$primary);
            outline: none;
            &::-webkit-search-cancel-button{
                display: none;   
            }
        }
        #search-button{
            border: none;
            background: none;
            position: absolute;
            right: 36px;
            top: 75px;
        }
    }
    #mobile-nav{
        display: none;
        cursor: pointer;
        z-index: 10;
        .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: $primary;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 8px;
        border-radius: 15%;
        }
        .bar2{
            width: 28px;
            margin-left: 7px;
        }
        #navbar{
            @include d-flex(unset,center,column);
            box-shadow: 0px 0px 8px 2px black;
            height: 100vh;
            background: $background;
            position: fixed;
            right: -350px;
            top: 0px;
            width: 318px;
            padding-top: 43px;
            transition: 0.5s;
            margin: 0;
            ul{
                flex-direction: column;
                height: auto;
                width: 100%;
                justify-content: unset;
                margin-bottom: 35px;
                li{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    border: none;
                    border-bottom: 1px solid #52717880;
                    a{
                        width: 100%;
                        height: 100%;
                        padding: 40px 20px;
                    }
                }
            }
            form{
                position: relative;
                width: 90%;
                #site-search{
                    width: 100%;
                    right: 0;
                    top: 10px;
                }
                #search-button{
                    right: 5px;
                    top: 15px;
                }
            }
        }
        #burger-icon{
            position: absolute;
            right: 25px;
            z-index: 1;
        }
        .change#burger-icon{
            position: fixed;
        }
        .change#navbar{
            right: 0;
        }
        .change.bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        }
        .change.bar2 {opacity: 0;}
        .change.bar3 {
        transform: rotate(45deg) translate(-9px, -7px);
        }
    }

}