.home-first-section{
    @include section($background);
    padding: 0 3% 3% 3%;
    p{
        @include font($regular,28px,$primary);
        font-size: 28px;
        padding-top: 20px;
        a{
            @include font($bold,28px,$blue);
        }
        span{
            @include font($bold,28px,$blue);
        }
    }   
}
.about-project{
    @include section($background);
    @include d-flex(center,unset,unset);
    padding: 3% 9%;
    div{
        @include video;
    }
}
.interactive-books{
    @include section($background);
    @include chatbot;
    @include d-flex(space-around,unset,column);
    @media (max-width: 1460px){
        .book-wrapper {
            grid-template-columns: 15% 15% 15% 15% 15% 15%;
            grid-column-gap: 2%;
        }
    }
    @media (max-width: 1300px) and (min-widtt:1100px){
        .book-wrapper {
            grid-template-columns: 23% 22% 22%;
            grid-column-gap: 17%;
        }
    }
    padding: 3%;
    h3{
        @include font($nino-mtavruli,22px,$primary);
        padding-bottom: 4%;
    }
    
}
#user-section{
    @include d-flex(center,center,column);
    height: 100vh;
    @include font($bold,60px,$primary);
    a{
        width: 37%;
        height: 180px;
        @include d-flex(center,center,unset);
        background: $primary;
        color: white;
        margin-bottom: 5%;
    }
    h1{
        text-align: center;
    }
}
