@media (max-width:1470px) {
    header nav ul li a{
        font-size: 28px;
        padding: 18px 23px;
    }
    #user-icon{
        margin-left: 5px;
    }
}
@media (max-width:1220px) {
    // ==header==
    header nav {
        display: none;
    }
    header #mobile-nav{
        display: block;

    }
    // ==news==
    .news-wrapper .news-first-section .videos-section{
        div{
            width: 550px;
            margin: 0 0 6% 0;
        }  
        justify-content: center;;
    }
    // ==about==
    .about-main-section {
        flex-wrap: wrap;
        .nav-side-bar{
            width: 100%;
        }
        .p-wrapper{
            padding: 5px 3%;
            h4{
                &::before{
                    left: -36px;
                }
            }
        }
    }
}
@media (max-width:680px){

    // ==main===
    .home-first-section{
        p{
            font-size: 25px;
            span,a{
                font-size: 25px;
            }
        }
        
    }
    .interactive-books{
        h3{
            text-align: center;
        }
    }
    // ==library====
    .library-main-section   {
        .chatbots{
            .book-wrapper{
                justify-content: center;
            }
        }
        .filter-section{
            flex-wrap: wrap;
            justify-content: center;
            #select-filter{
                margin-bottom: 50px;
            }
            .tags{
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .letters-filter{
            column-count: 2;
        }
    }
    // ==news==
    .news-wrapper{
        .tags{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .article-wrapper{
        h2{
            text-align: center;
        }
        .tags{
            flex-direction: column;
            align-items: center;
        }
    }
    // ==chatbot===
    .chatbot-section {
        .chat-bar-collapse {
            bottom: 51px;
            width: 97%;
            .content{
                width: 100%;
            }
        }
        .chatbot-wrapper{
            .info-section{
                flex-wrap: wrap;
                .image-side{
                    display: flex;
                    margin: 0 0 3% 0;
                    width: 100%;
                    img{
                        max-width:256px ;
                        margin-right: 11%;
                    }
                }
            }
        }
    } 

    // ==footer==
    footer{
        flex-wrap: wrap;
        a{
            margin: 7px;
        }
    }
    .social-web{
        flex-direction: column;
        a:first-child{
            margin-left: 14px;
        }
    }
    .links{
        a:first-child{
            position: absolute;
            right: 12px;
            top: 14px;
        }
    }
    footer .links{
        align-items: unset;
    }
}

@media (max-width:540px){
    // burger menu 
    header #mobile-nav #navbar{
        padding-top: 30px;
        width: 100%;
        right: -105%;
        ul{
            margin-bottom: 20px;
            li a{
                padding: 19px 20px;
            }
        }
        form{
            #site-search{
                height: 40px;
            }
            #search-button{
                top: 13px;
            }
        }
    }
    // ==chatbot==
    .chatbot-section{
        justify-content: unset;
        // h2{
        //     text-align: center;
        // }
        .chatbot-wrapper{
            .info-section{
                .image-side{
                    flex-wrap: wrap;
                    // justify-content: center;
                    // img{
                    //     margin: 0;
                    // }
                }
            }
            .links-section a{
                font-size: 19px;
            }
            .statistics-section p ,span{
                font-size: 19px;
            }
        }


    }
}


// ===galaxy fold==
@media (max-width:360px){
    // ==header==
    header .logo span{
        bottom: 15px;
        font-size: 17px;
    }
    // ==about==
    .about-main-section .nav-side-bar li a{
        font-size: 30px;
    }
}



