@mixin justify($arg){
    display:flex;
    justify-content: $arg;
}
@mixin d-flex($justify,$align,$direction){
    display:flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin section($color){
    background: $color;
    margin-top:60px;
}
@mixin font($family,$size,$color){
    font-family: $family;
    font-size: $size;
    color: $color;
}
@mixin border($px,$type,$color){
    border: $px $type $color;
}
@mixin chatbot{
    .book-wrapper{
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        grid-row-gap:0;
        grid-column-gap: 2%;
        .book{
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 256px;
            margin-bottom: 10%;
            h6{
                @include font($bold,24px,$primary);
                background: white;
                padding: 17px 6px;
            }
            img{
                width: 100%;
            }
            #sign{
                width: auto;
            }
        }
        @media (max-width:1460px){
            grid-template-columns: 22% 22% 22% 22%;
            grid-column-gap: 5%;
        }
        @media (max-width:1235px){
            grid-template-columns: 22% 22% 22% 22%;
            grid-column-gap: 4%; 
            .book{
                margin-bottom: 5%;
            }
        }
        @media (max-width:1100px){
            @include justify(space-between);
            flex-wrap: wrap; 
        }
        @media (max-width:640px){
            justify-content: center;
        }

    }
}
@mixin tags{
    display: flex;
    @include font($bold,24px,$primary);
    span{
        font-size: 30px;
    }
    ul{
        @include justify(center);
        flex-wrap: wrap;
        li{
            cursor: pointer;
            margin: 4px;
        }
    }
}
@mixin video{
    @include d-flex(center,center,column);
    background: white;
    width: 100%;
    max-width: 1280px;
    p{
        @include font($nino-mtavruli,42px,$primary);
        padding: 8% 11%;
        text-align: center;
        @media (max-width: 680px){
            font-size: 30px;
        }
    }
    img{
        width: 100%;
        cursor: pointer;
        max-width: 290px;
    }
}