@mixin justify($arg){
    display:flex;
    justify-content: $arg;
}
@mixin d-flex($justify,$align,$direction){
    display:flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin section($color){
    background: $color;
    margin-top:60px;
}
@mixin font($family,$size,$color){
    font-family: $family;
    font-size: $size;
    color: $color;
}
@mixin border($px,$type,$color){
    border: $px $type $color;
}
@mixin chatbot{
    .book-wrapper{
        @include justify(space-between);
        flex-wrap: wrap;
        .book{
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 255px;
            max-height: 320px;
            margin-bottom:50px;
            margin-right: 10px;
            h6{
                @include font($bold,24px,$primary);
                background: white;
                padding: 17px 6px;
            }
        }
    }
}