// colors
$background:#EBEBEB;
$background-dark:#527178;
$font-main-color:#527178;
$blue:#0871B8;

//size
$p-font-size:24px;

//fonts
$nino-mtavruli:'BPG Nino Mtavruli';
$bold:'Sandro-bold';
$bold-italic:'Sandro-bold-italic';
$regular:'Sandro-regular';
$regular-italic:'Sandro-regular-italic';