// colors
$background:#EBEBEB;
$primary:#527178;
$blue:#0871B8;
$border:#707070;

//size
$p-font-size:24px;

//fonts
$nino-mtavruli:'BPG Nino Mtavruli';
$bold:'Sandro-bold';
$bold-italic:'Sandro-bold-italic';
$regular:'Sandro-regular';
$regular-italic:'Sandro-regular-italic';