html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url("../fonts/BPGNinoMtavruli-Bold.eot");
  src: url("../fonts/BPGNinoMtavruli-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff"), url("../fonts/BPGNinoMtavruli-Bold.ttf") format("truetype"), url("../fonts/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-bold';
  src: url("../fonts/Sandro-Bold.eot");
  src: url("../fonts/Sandro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-Bold.woff2") format("woff2"), url("../fonts/Sandro-Bold.woff") format("woff"), url("../fonts/Sandro-Bold.ttf") format("truetype"), url("../fonts/Sandro-Bold.svg#Sandro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-bold-italic';
  src: url("../fonts/Sandro-BoldItalic.eot");
  src: url("../fonts/Sandro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-BoldItalic.woff2") format("woff2"), url("../fonts/Sandro-BoldItalic.woff") format("woff"), url("../fonts/Sandro-BoldItalic.ttf") format("truetype"), url("../fonts/Sandro-BoldItalic.svg#Sandro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-regular';
  src: url("../fonts/Sandro-Regular.eot");
  src: url("../fonts/Sandro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-Regular.woff2") format("woff2"), url("../fonts/Sandro-Regular.woff") format("woff"), url("../fonts/Sandro-Regular.ttf") format("truetype"), url("../fonts/Sandro-Regular.svg#Sandro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-regular-italic';
  src: url("../fonts/Sandro-RegularItalic.eot");
  src: url("../fonts/Sandro-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-RegularItalic.woff2") format("woff2"), url("../fonts/Sandro-RegularItalic.woff") format("woff"), url("../fonts/Sandro-RegularItalic.ttf") format("truetype"), url("../fonts/Sandro-RegularItalic.svg#Sandro-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

header {
  position: relative;
  background: #EBEBEB;
  height: 64px;
  padding: 7px 38px;
  display: flex;
  justify-content: space-between; }
  header .logo {
    position: relative;
    min-height: 120px; }
    header .logo span {
      position: absolute;
      font-family: "BPG Nino Mtavruli";
      color: #527178;
      font-size: 22px;
      bottom: 0px;
      left: 64px;
      width: 247px; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: unset; }
    header nav ul {
      display: flex;
      justify-content: space-between; }
      header nav ul li {
        font-family: "Sandro-bold";
        font-size: 34px;
        padding: 0px 30px;
        border-right: 1px solid #527178;
        height: 32px; }
        header nav ul li a {
          color: #527178; }
        header nav ul li:last-child {
          border: none;
          min-width: fit-content; }
    header nav img {
      cursor: pointer;
      margin-left: 70px; }
    header nav #site-search {
      position: absolute;
      width: 26%;
      height: 48px;
      right: 36px;
      top: 70px;
      border: 1px solid #527178;
      font-family: "Sandro-bold";
      font-size: 22px;
      color: #527178;
      outline: none; }
      header nav #site-search::-webkit-search-cancel-button {
        display: none; }
    header nav #search-button {
      border: none;
      background: none;
      position: absolute;
      right: 36px;
      top: 75px; }

.home-first-section {
  background: #EBEBEB;
  margin-top: 60px;
  padding: 0 3% 3% 3%; }
  .home-first-section p {
    font-family: "Sandro-regular";
    font-size: 28px;
    color: black;
    font-size: 28px;
    padding-top: 1%;
    line-height: 32px; }
    .home-first-section p a {
      font-family: "Sandro-bold";
      font-size: 28px;
      color: #0871B8; }
    .home-first-section p span {
      font-family: "Sandro-bold";
      font-size: 28px;
      color: #0871B8; }

.about-project {
  background: #EBEBEB;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: unset;
  padding: 3% 9%; }
  .about-project div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 100%;
    max-width: 1280px; }
    .about-project div p {
      font-family: "BPG Nino Mtavruli";
      font-size: 42px;
      color: #527178;
      padding: 8% 11%;
      text-align: center; }
    .about-project div img {
      cursor: pointer; }

.interactive-books {
  background: #EBEBEB;
  margin-top: 60px;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: unset;
  flex-direction: column; }
  .interactive-books h3 {
    font-family: "BPG Nino Mtavruli";
    font-size: 22px;
    color: #527178;
    padding-bottom: 2%; }
  .interactive-books .book-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .interactive-books .book-wrapper .book {
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 255px;
      max-height: 320px;
      margin-bottom: 50px;
      margin-right: 10px; }
      .interactive-books .book-wrapper .book h6 {
        font-family: "Sandro-bold";
        font-size: 24px;
        color: #527178;
        background: white;
        padding: 17px 6px; }

#user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Sandro-bold";
  font-size: 60px;
  color: #527178; }
  #user-section a {
    width: 37%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
    background: #527178;
    color: white;
    margin-bottom: 5%; }
  #user-section h1 {
    text-align: center; }

.library-main-section {
  background: #EBEBEB;
  margin-top: 60px;
  padding: 2% 3.5%; }
  .library-main-section .filter-section {
    display: flex; }
    .library-main-section .filter-section #select-filter {
      background: #527178;
      height: max-content;
      font-family: "Sandro-bold";
      font-size: 24px;
      color: white;
      padding: 5px;
      border: none;
      outline: none;
      margin-right: 2%; }
    .library-main-section .filter-section .tags {
      display: flex;
      flex-wrap: wrap;
      font-family: "Sandro-bold";
      font-size: 24px;
      color: #527178; }
      .library-main-section .filter-section .tags ul {
        display: flex; }
        .library-main-section .filter-section .tags ul li {
          cursor: pointer; }
  .library-main-section .divide {
    display: flex;
    align-items: baseline; }
    .library-main-section .divide hr {
      width: 100%;
      height: 2px;
      background-color: #527178;
      border: none; }
    .library-main-section .divide #table-icon {
      cursor: pointer;
      margin-left: 5px; }
  .library-main-section .chatbots {
    display: flex;
    justify-content: unset;
    align-items: center;
    flex-direction: column;
    padding-top: 3%; }
    .library-main-section .chatbots .book-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .library-main-section .chatbots .book-wrapper .book {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 255px;
        max-height: 320px;
        margin-bottom: 50px;
        margin-right: 10px; }
        .library-main-section .chatbots .book-wrapper .book h6 {
          font-family: "Sandro-bold";
          font-size: 24px;
          color: #527178;
          background: white;
          padding: 17px 6px; }
    .library-main-section .chatbots #sign {
      position: absolute;
      bottom: 68px;
      right: 10px; }
    .library-main-section .chatbots button {
      background: #527178;
      padding: 12px;
      border: none;
      cursor: pointer; }
  .library-main-section .letters-filter {
    display: none;
    column-count: 4;
    column-rule: 1px solid #707070;
    column-gap: 8%;
    padding-top: 3%; }
    .library-main-section .letters-filter ul {
      padding: 8px 0px; }
      .library-main-section .letters-filter ul h4 {
        font-family: "BPG Nino Mtavruli";
        font-size: 24px;
        color: #527178; }
      .library-main-section .letters-filter ul li {
        font-family: "Sandro-bold";
        font-size: 24px;
        color: #527178;
        cursor: pointer; }

.news-wrapper {
  background: #EBEBEB;
  margin-top: 60px;
  padding: 2% 3.5%; }
  .news-wrapper .tags {
    display: flex;
    font-family: "Sandro-bold";
    font-size: 24px;
    color: #527178; }
    .news-wrapper .tags ul {
      display: flex; }
      .news-wrapper .tags ul li {
        cursor: pointer; }
  .news-wrapper .news-first-section, .news-wrapper .news-second-section {
    margin-top: 5%; }
    .news-wrapper .news-first-section h4, .news-wrapper .news-second-section h4 {
      font-family: "BPG Nino Mtavruli";
      font-size: 22px;
      color: #527178; }
    .news-wrapper .news-first-section p, .news-wrapper .news-second-section p {
      font-family: "Sandro-regular";
      font-size: 28px;
      color: #527178;
      margin: 2% 0; }
    .news-wrapper .news-first-section .videos-section, .news-wrapper .news-second-section .videos-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .news-wrapper .news-first-section .videos-section div, .news-wrapper .news-second-section .videos-section div {
        width: 550px;
        height: 300px;
        background: white;
        margin: 0 15px 50px 0; }
  .news-wrapper .news-second-section {
    margin-top: 2%; }
    .news-wrapper .news-second-section .video {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: white;
      width: 100%;
      max-width: 1280px;
      margin: auto; }
      .news-wrapper .news-second-section .video p {
        font-family: "BPG Nino Mtavruli";
        font-size: 42px;
        color: #527178;
        padding: 8% 11%;
        text-align: center; }
      .news-wrapper .news-second-section .video img {
        cursor: pointer; }

.about-main-section {
  margin-top: 60px;
  display: flex;
  justify-content: space-between; }
  .about-main-section .nav-side-bar {
    padding: 3%; }
    .about-main-section .nav-side-bar li {
      margin-bottom: 20px; }
      .about-main-section .nav-side-bar li a {
        font-family: "Sandro-bold";
        font-size: 34px;
        color: #527178; }
  .about-main-section .p-wrapper {
    background: #EBEBEB;
    padding: 48px; }
    .about-main-section .p-wrapper h4 {
      font-family: "BPG Nino Mtavruli";
      font-size: 32px;
      color: #527178;
      margin-top: 3%;
      position: relative; }
      .about-main-section .p-wrapper h4::before {
        content: "";
        position: absolute;
        width: 29px;
        height: 32px;
        background: white;
        position: absolute;
        top: -4px;
        left: -48px; }
    .about-main-section .p-wrapper p {
      font-family: "Sandro-regular";
      font-size: 22px;
      color: #527178;
      margin: 2% 0; }
    .about-main-section .p-wrapper h5 {
      font-family: "BPG Nino Mtavruli";
      font-size: 22px;
      color: #527178; }
    .about-main-section .p-wrapper a {
      font-family: "Sandro-bold";
      font-size: 22px;
      color: #0871B8; }
    .about-main-section .p-wrapper ul {
      list-style: unset;
      margin-left: 22px; }
      .about-main-section .p-wrapper ul li {
        font-family: "Sandro-regular";
        font-size: 22px;
        color: #527178; }

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #527178;
  padding: 1%; }
  footer .social-web {
    display: flex; }
    footer .social-web .facebook {
      display: flex;
      flex-direction: column; }
      footer .social-web .facebook a {
        margin: 0 10px 10px 10px;
        font-family: "Sandro-bold";
        font-size: 22px;
        color: white; }
  footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: unset;
    flex-wrap: wrap;
    width: 400px; }
    footer .links a:last-child img {
      max-width: 290px;
      width: 100%; }

html {
  scroll-behavior: smooth; }
