html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  scroll-behavior: smooth; }

p {
  line-height: 1.3; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url("../fonts/BPGNinoMtavruli-Bold.eot");
  src: url("../fonts/BPGNinoMtavruli-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff"), url("../fonts/BPGNinoMtavruli-Bold.ttf") format("truetype"), url("../fonts/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-bold';
  src: url("../fonts/Sandro-Bold.eot");
  src: url("../fonts/Sandro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-Bold.woff2") format("woff2"), url("../fonts/Sandro-Bold.woff") format("woff"), url("../fonts/Sandro-Bold.ttf") format("truetype"), url("../fonts/Sandro-Bold.svg#Sandro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-bold-italic';
  src: url("../fonts/Sandro-BoldItalic.eot");
  src: url("../fonts/Sandro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-BoldItalic.woff2") format("woff2"), url("../fonts/Sandro-BoldItalic.woff") format("woff"), url("../fonts/Sandro-BoldItalic.ttf") format("truetype"), url("../fonts/Sandro-BoldItalic.svg#Sandro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-regular';
  src: url("../fonts/Sandro-Regular.eot");
  src: url("../fonts/Sandro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-Regular.woff2") format("woff2"), url("../fonts/Sandro-Regular.woff") format("woff"), url("../fonts/Sandro-Regular.ttf") format("truetype"), url("../fonts/Sandro-Regular.svg#Sandro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sandro-regular-italic';
  src: url("../fonts/Sandro-RegularItalic.eot");
  src: url("../fonts/Sandro-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Sandro-RegularItalic.woff2") format("woff2"), url("../fonts/Sandro-RegularItalic.woff") format("woff"), url("../fonts/Sandro-RegularItalic.ttf") format("truetype"), url("../fonts/Sandro-RegularItalic.svg#Sandro-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

header {
  position: relative;
  background: #EBEBEB;
  height: 64px;
  padding: 5px 1.5% 5px 3%;
  display: flex;
  justify-content: space-between; }
  header .logo {
    position: relative;
    min-height: 120px; }
    header .logo span {
      position: absolute;
      font-family: "BPG Nino Mtavruli";
      color: #527178;
      font-size: 22px;
      bottom: 7px;
      left: 58px;
      width: 247px; }
  header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 7px; }
    header nav ul {
      display: flex;
      justify-content: space-between; }
      header nav ul li {
        font-family: "Sandro-bold";
        font-size: 34px;
        border-right: 1px solid #527178;
        height: 32px; }
        header nav ul li a {
          padding: 18px 30px;
          color: #527178; }
        header nav ul li:last-child {
          border: none;
          min-width: fit-content;
          padding-right: 20px; }
        header nav ul li:hover a {
          background: white; }
    header nav #site-search {
      position: absolute;
      width: 26%;
      height: 48px;
      right: 36px;
      top: 70px;
      border: 1px solid #527178;
      font-family: "Sandro-bold";
      font-size: 22px;
      color: #527178;
      outline: none; }
      header nav #site-search::-webkit-search-cancel-button {
        display: none; }
    header nav #search-button {
      border: none;
      background: none;
      position: absolute;
      right: 36px;
      top: 75px; }
  header #mobile-nav {
    display: none;
    cursor: pointer;
    z-index: 10; }
    header #mobile-nav .bar1, header #mobile-nav .bar2, header #mobile-nav .bar3 {
      width: 35px;
      height: 5px;
      background-color: #527178;
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 8px;
      border-radius: 15%; }
    header #mobile-nav .bar2 {
      width: 28px;
      margin-left: 7px; }
    header #mobile-nav #navbar {
      display: flex;
      justify-content: unset;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 0px 8px 2px black;
      height: 100%;
      background: #EBEBEB;
      position: fixed;
      right: -350px;
      top: 0px;
      width: 318px;
      padding-top: 43px;
      transition: 0.5s;
      margin: 0; }
      header #mobile-nav #navbar ul {
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: unset;
        margin-bottom: 35px; }
        header #mobile-nav #navbar ul li {
          display: flex;
          align-items: center;
          width: 100%;
          height: auto;
          border: none;
          border-bottom: 1px solid #52717880; }
          header #mobile-nav #navbar ul li a {
            width: 100%;
            height: 100%;
            padding: 40px 20px; }
      header #mobile-nav #navbar form {
        position: relative;
        width: 90%; }
        header #mobile-nav #navbar form #site-search {
          width: 100%;
          right: 0;
          top: 10px; }
        header #mobile-nav #navbar form #search-button {
          right: 5px;
          top: 15px; }
    header #mobile-nav #burger-icon {
      position: absolute;
      right: 25px;
      z-index: 1; }
    header #mobile-nav .change#burger-icon {
      position: fixed; }
    header #mobile-nav .change#navbar {
      right: 0; }
    header #mobile-nav .change.bar1 {
      transform: rotate(-45deg) translate(-9px, 6px); }
    header #mobile-nav .change.bar2 {
      opacity: 0; }
    header #mobile-nav .change.bar3 {
      transform: rotate(45deg) translate(-9px, -7px); }

.home-first-section {
  background: #EBEBEB;
  margin-top: 60px;
  padding: 0 3% 3% 3%; }
  .home-first-section p {
    font-family: "Sandro-regular";
    font-size: 28px;
    color: #527178;
    font-size: 28px;
    padding-top: 20px; }
    .home-first-section p a {
      font-family: "Sandro-bold";
      font-size: 28px;
      color: #0871B8; }
    .home-first-section p span {
      font-family: "Sandro-bold";
      font-size: 28px;
      color: #0871B8; }

.about-project {
  background: #EBEBEB;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: unset;
  padding: 3% 9%; }
  .about-project div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 100%;
    max-width: 1280px; }
    .about-project div p {
      font-family: "BPG Nino Mtavruli";
      font-size: 42px;
      color: #527178;
      padding: 8% 11%;
      text-align: center; }
      @media (max-width: 680px) {
        .about-project div p {
          font-size: 30px; } }
    .about-project div img {
      width: 100%;
      cursor: pointer;
      max-width: 290px; }

.interactive-books {
  background: #EBEBEB;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: unset;
  flex-direction: column;
  padding: 3%; }
  .interactive-books .book-wrapper {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-row-gap: 0;
    grid-column-gap: 2%; }
    .interactive-books .book-wrapper .book {
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 256px;
      margin-bottom: 10%; }
      .interactive-books .book-wrapper .book h6 {
        font-family: "Sandro-bold";
        font-size: 24px;
        color: #527178;
        background: white;
        padding: 17px 6px; }
      .interactive-books .book-wrapper .book img {
        width: 100%; }
      .interactive-books .book-wrapper .book #sign {
        width: auto; }
    @media (max-width: 1460px) {
      .interactive-books .book-wrapper {
        grid-template-columns: 22% 22% 22% 22%;
        grid-column-gap: 5%; } }
    @media (max-width: 1235px) {
      .interactive-books .book-wrapper {
        grid-template-columns: 22% 22% 22% 22%;
        grid-column-gap: 4%; }
        .interactive-books .book-wrapper .book {
          margin-bottom: 5%; } }
    @media (max-width: 1100px) {
      .interactive-books .book-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; } }
    @media (max-width: 640px) {
      .interactive-books .book-wrapper {
        justify-content: center; } }
  @media (max-width: 1460px) {
    .interactive-books .book-wrapper {
      grid-template-columns: 15% 15% 15% 15% 15% 15%;
      grid-column-gap: 2%; } }
  @media (max-width: 1300px) and (min-widtt: 1100px) {
    .interactive-books .book-wrapper {
      grid-template-columns: 23% 22% 22%;
      grid-column-gap: 17%; } }
  .interactive-books h3 {
    font-family: "BPG Nino Mtavruli";
    font-size: 22px;
    color: #527178;
    padding-bottom: 4%; }

#user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Sandro-bold";
  font-size: 60px;
  color: #527178; }
  #user-section a {
    width: 50%;
    height: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
    background: #527178;
    color: white;
    margin: 5%; 
    text-align:center;
  }
  #user-section h1 {
    text-align: center; }

.library-main-section {
  background: #EBEBEB;
  margin-top: 60px;
  padding: 23px 38px; }
  .library-main-section .filter-section {
    display: flex; }
    .library-main-section .filter-section #select-filter {
      background: #527178;
      height: max-content;
      font-family: "Sandro-bold";
      font-size: 24px;
      color: white;
      padding: 5px;
      border: none;
      outline: none;
      margin-right: 2%; }
    .library-main-section .filter-section .tags {
      display: flex;
      font-family: "Sandro-bold";
      font-size: 24px;
      color: #527178; }
      .library-main-section .filter-section .tags span {
        font-size: 30px; }
      .library-main-section .filter-section .tags ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .library-main-section .filter-section .tags ul li {
          cursor: pointer;
          margin: 4px; }
  .library-main-section .divide {
    display: flex;
    align-items: baseline; }
    .library-main-section .divide hr {
      width: 100%;
      height: 2px;
      background-color: #527178;
      border: none; }
    .library-main-section .divide #table-icon {
      cursor: pointer;
      margin-left: 5px; }
  .library-main-section .chatbots {
    padding-top: 3%; }
    .library-main-section .chatbots .book-wrapper {
      display: grid;
      grid-template-columns: 15% 15% 15% 15% 15% 15%;
      grid-row-gap: 0;
      grid-column-gap: 2%; }
      .library-main-section .chatbots .book-wrapper .book {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 256px;
        margin-bottom: 10%; }
        .library-main-section .chatbots .book-wrapper .book h6 {
          font-family: "Sandro-bold";
          font-size: 24px;
          color: #527178;
          background: white;
          padding: 17px 6px; }
        .library-main-section .chatbots .book-wrapper .book img {
          width: 100%; }
        .library-main-section .chatbots .book-wrapper .book #sign {
          width: auto; }
      @media (max-width: 1460px) {
        .library-main-section .chatbots .book-wrapper {
          grid-template-columns: 22% 22% 22% 22%;
          grid-column-gap: 5%; } }
      @media (max-width: 1235px) {
        .library-main-section .chatbots .book-wrapper {
          grid-template-columns: 22% 22% 22% 22%;
          grid-column-gap: 4%; }
          .library-main-section .chatbots .book-wrapper .book {
            margin-bottom: 5%; } }
      @media (max-width: 1100px) {
        .library-main-section .chatbots .book-wrapper {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; } }
      @media (max-width: 640px) {
        .library-main-section .chatbots .book-wrapper {
          justify-content: center; } }
    .library-main-section .chatbots #sign {
      position: absolute;
      bottom: 68px;
      right: 10px; }
    .library-main-section .chatbots .button-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 1%; }
      .library-main-section .chatbots .button-wrapper button {
        background: #527178;
        padding: 12px;
        border: none;
        cursor: pointer; }
  .library-main-section .letters-filter {
    display: none;
    column-count: 4;
    column-rule: 1px solid #707070;
    column-gap: 8%;
    padding-top: 3%; }
    @media (max-width: 768px) {
      .library-main-section .letters-filter {
        column-count: 3; } }
    .library-main-section .letters-filter ul {
      padding: 8px 0px; }
      .library-main-section .letters-filter ul h4 {
        font-family: "BPG Nino Mtavruli";
        font-size: 24px;
        color: #527178; }
      .library-main-section .letters-filter ul li {
        font-family: "Sandro-bold";
        font-size: 24px;
        color: #527178;
        cursor: pointer; }

.news-wrapper {
  background: #EBEBEB;
  margin-top: 60px;
  padding: 3%; }
  .news-wrapper .tags {
    display: flex;
    font-family: "Sandro-bold";
    font-size: 24px;
    color: #527178; }
    .news-wrapper .tags span {
      font-size: 30px; }
    .news-wrapper .tags ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .news-wrapper .tags ul li {
        cursor: pointer;
        margin: 4px; }
  .news-wrapper .news-first-section, .news-wrapper .news-second-section {
    margin-top: 5%; }
    .news-wrapper .news-first-section h4, .news-wrapper .news-second-section h4 {
      font-family: "BPG Nino Mtavruli";
      font-size: 22px;
      color: #527178; }
    .news-wrapper .news-first-section p, .news-wrapper .news-second-section p {
      font-family: "Sandro-regular";
      font-size: 28px;
      color: #527178;
      margin: 2% 0; }
    .news-wrapper .news-first-section .videos-section, .news-wrapper .news-second-section .videos-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .news-wrapper .news-first-section .videos-section div, .news-wrapper .news-second-section .videos-section div {
        width: 30%;
        height: 300px;
        background: white;
        margin: 0 15px 50px 0; }
  .news-wrapper .news-second-section {
    margin-top: 2%; }
    .news-wrapper .news-second-section .video {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: white;
      width: 100%;
      max-width: 1280px; }
      .news-wrapper .news-second-section .video p {
        font-family: "BPG Nino Mtavruli";
        font-size: 42px;
        color: #527178;
        padding: 8% 11%;
        text-align: center; }
        @media (max-width: 680px) {
          .news-wrapper .news-second-section .video p {
            font-size: 30px; } }
      .news-wrapper .news-second-section .video img {
        width: 100%;
        cursor: pointer;
        max-width: 290px; }

.about-main-section {
  margin-top: 60px;
  display: flex;
  justify-content: space-between; }
  .about-main-section .nav-side-bar {
    padding: 3%; }
    .about-main-section .nav-side-bar li {
      margin-bottom: 20px; }
      .about-main-section .nav-side-bar li a {
        font-family: "Sandro-bold";
        font-size: 34px;
        color: #527178; }
      .about-main-section .nav-side-bar li:hover {
        background: #EBEBEB; }
  .about-main-section .p-wrapper {
    background: #EBEBEB;
    padding: 48px; }
    .about-main-section .p-wrapper h4 {
      font-family: "BPG Nino Mtavruli";
      font-size: 32px;
      color: #527178;
      padding-top: 15px;
      position: relative; }
      .about-main-section .p-wrapper h4::before {
        content: "";
        position: absolute;
        width: 29px;
        height: 32px;
        background: white;
        position: absolute;
        top: 12px;
        left: -48px; }
    .about-main-section .p-wrapper p {
      font-family: "Sandro-regular";
      font-size: 22px;
      color: #527178;
      margin-bottom: 30px; }
    .about-main-section .p-wrapper h5 {
      font-family: "BPG Nino Mtavruli";
      font-size: 22px;
      color: #527178; }
    .about-main-section .p-wrapper a {
      font-family: "Sandro-bold";
      font-size: 22px;
      color: #0871B8; }
    .about-main-section .p-wrapper ul {
      list-style: unset;
      margin-left: 22px; }
      .about-main-section .p-wrapper ul li {
        font-family: "Sandro-regular";
        font-size: 22px;
        color: #527178; }

.chatbot-section {
  background: #EBEBEB;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding: 3%; }
  .chatbot-section .chatbot-wrapper {
    border: 1px solid #527178;
    max-width: 1350px;
    padding: 3%; }
    .chatbot-section .chatbot-wrapper h4 {
      font-family: "BPG Nino Mtavruli";
      font-size: 22px;
      color: #527178; }
    .chatbot-section .chatbot-wrapper p, .chatbot-section .chatbot-wrapper span {
      font-family: "Sandro-bold";
      font-size: 22px;
      color: #527178; }
    .chatbot-section .chatbot-wrapper .info-section {
      display: flex;
      justify-content: space-between;
      padding: 2% 0; }
      .chatbot-section .chatbot-wrapper .info-section .image-side {
        margin-right: 3%; }
        .chatbot-section .chatbot-wrapper .info-section .image-side img {
          width: 100%;
          min-width: 200px; }
        .chatbot-section .chatbot-wrapper .info-section .image-side .group-members h4 {
          margin-top: 8%; }
      .chatbot-section .chatbot-wrapper .info-section .text-side {
        max-width: 920px; }
        .chatbot-section .chatbot-wrapper .info-section .text-side p {
          font-family: "Sandro-regular";
          font-size: 24px;
          color: #527178; }
    .chatbot-section .chatbot-wrapper .statistics-section {
      background: white;
      padding: 1%; }
    .chatbot-section .chatbot-wrapper .links-section {
      margin-top: 2%; }
      .chatbot-section .chatbot-wrapper .links-section a {
        font-family: "Sandro-bold";
        font-size: 24px;
        color: #527178;
        padding-bottom: 6px; }
      .chatbot-section .chatbot-wrapper .links-section .chatbot-link {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
      .chatbot-section .chatbot-wrapper .links-section .facebook-buttons {
        margin-top: 10px; }
  .chatbot-section h2 {
    font-family: "BPG Nino Mtavruli";
    font-size: 32px;
    color: #527178; }

.chat-bar-collapse {
  position: fixed;
  z-index: 1;
  right: 2%;
  bottom: 110px; }
  .chat-bar-collapse .content {
    display: none;
    width: 512px;
    background: white;
    height: 450px;
    padding: 4%;
    box-shadow: 0px 0px 30px -12px black;
    border: 1px solid #707070; }
    .chat-bar-collapse .content .top-side {
      display: flex;
      justify-content: space-between; }
      .chat-bar-collapse .content .top-side h4 {
        font-family: "BPG Nino Mtavruli";
        font-size: 32px;
        color: #527178; }
      .chat-bar-collapse .content .top-side #close-chatbox {
        border: none;
        background: none;
        cursor: pointer; }
    .chat-bar-collapse .content hr {
      margin: 4% 0 7% 0;
      border: 1px solid #707070; }
    .chat-bar-collapse .content .chatbox {
      position: relative;
      width: 100%;
      height: 58%;
      border: 1px solid #707070; }
      .chat-bar-collapse .content .chatbox p {
        margin: 5px 0;
        position: absolute; }
      .chat-bar-collapse .content .chatbox #chatbot-msg {
        font-family: "Sandro-bold";
        font-size: 22px;
        color: #527178;
        left: 5px; }
      .chat-bar-collapse .content .chatbox #customer-msg {
        background: #527178;
        font-family: "Sandro-bold";
        font-size: 22px;
        color: white;
        border-radius: 50px;
        padding: 8px;
        right: 5px;
        top: 40px; }
    .chat-bar-collapse .content #msg-form {
      display: flex;
      justify-content: space-between;
      margin-top: 7%; }
      .chat-bar-collapse .content #msg-form input {
        width: 87%;
        border: 1px solid #707070; }
      .chat-bar-collapse .content #msg-form button {
        border: none;
        background: none;
        cursor: pointer; }
  .chat-bar-collapse #messenger-button {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.1s;
    background: white;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    cursor: pointer;
    border: 1px solid #527178;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
    z-index: 2;
    box-shadow: 0px 0px 30px -12px black; }

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #527178;
  padding: 1%; }
  footer .social-web {
    display: flex; }
    footer .social-web .facebook {
      display: flex;
      flex-direction: column; }
      footer .social-web .facebook a {
        margin: 0 10px 10px 10px;
        font-family: "Sandro-bold";
        font-size: 22px;
        color: white; }
  footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 400px; }
    footer .links a:last-child img {
      max-width: 290px;
      width: 100%; }

@media (max-width: 1470px) {
  header nav ul li a {
    font-size: 28px;
    padding: 18px 23px; }
  #user-icon {
    margin-left: 5px; } }

@media (max-width: 1220px) {
  header nav {
    display: none; }
  header #mobile-nav {
    display: block; }
  .news-wrapper .news-first-section .videos-section {
    justify-content: center; }
    .news-wrapper .news-first-section .videos-section div {
      width: 550px;
      margin: 0 0 6% 0; }
  .about-main-section {
    flex-wrap: wrap; }
    .about-main-section .nav-side-bar {
      width: 100%; }
    .about-main-section .p-wrapper {
      padding: 5px 3%; }
      .about-main-section .p-wrapper h4::before {
        left: -36px; } }

@media (max-width: 680px) {
  .home-first-section p {
    font-size: 25px; }
    .home-first-section p span, .home-first-section p a {
      font-size: 25px; }
  .interactive-books h3 {
    text-align: center; }
  .library-main-section .chatbots .book-wrapper {
    justify-content: center; }
  .library-main-section .filter-section {
    flex-wrap: wrap;
    justify-content: center; }
    .library-main-section .filter-section #select-filter {
      margin-bottom: 50px; }
    .library-main-section .filter-section .tags {
      flex-wrap: wrap;
      justify-content: center; }
  .library-main-section .letters-filter {
    column-count: 2; }
  .news-wrapper .tags {
    flex-wrap: wrap;
    justify-content: center; }
  .chatbot-section .chat-bar-collapse {
    bottom: 51px;
    width: 97%;
    height: 76%; }
    .chatbot-section .chat-bar-collapse .content {
      width: 100%;
      height: 100%; }
      .chatbot-section .chat-bar-collapse .content .chatbox {
        width: 100%;
        height: 72%; }
        .chatbot-section .chat-bar-collapse .content .chatbox #customer-msg {
          top: 58px; }
  .chatbot-section .chatbot-wrapper .info-section {
    flex-wrap: wrap; }
    .chatbot-section .chatbot-wrapper .info-section .image-side {
      display: flex;
      margin: 0 0 3% 0;
      width: 100%; }
      .chatbot-section .chatbot-wrapper .info-section .image-side img {
        max-width: 256px;
        margin-right: 11%; }
  footer {
    flex-wrap: wrap; }
    footer a {
      margin: 7px; }
  .social-web {
    flex-direction: column; }
    .social-web a:first-child {
      margin-left: 14px; }
  .links a:first-child {
    position: absolute;
    right: 12px;
    top: 14px; }
  footer .links {
    align-items: unset; } }

@media (max-width: 540px) {
  header #mobile-nav #navbar {
    padding-top: 30px;
    width: 100%;
    right: -105%; }
    header #mobile-nav #navbar ul {
      margin-bottom: 20px; }
      header #mobile-nav #navbar ul li a {
        padding: 19px 20px; }
    header #mobile-nav #navbar form #site-search {
      height: 40px; }
    header #mobile-nav #navbar form #search-button {
      top: 13px; }
  .chatbot-section {
    justify-content: unset; }
    .chatbot-section .chat-bar-collapse {
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 13;
      right: 0; }
      .chatbot-section .chat-bar-collapse #messenger-button {
        width: 110px;
        height: 110px;
        right: 10px;
        bottom: 30px; }
        .chatbot-section .chat-bar-collapse #messenger-button img {
          width: 70%; }
      .chatbot-section .chat-bar-collapse .content {
        width: 100%;
        height: 100%; }
        .chatbot-section .chat-bar-collapse .content .chatbox {
          height: 70%; }
      .chatbot-section .chat-bar-collapse .chatbot-wrapper {
        border: none; }
        .chatbot-section .chat-bar-collapse .chatbot-wrapper .info-section .image-side {
          flex-wrap: wrap; }
        .chatbot-section .chat-bar-collapse .chatbot-wrapper .links-section a {
          font-size: 19px; } }

@media (max-width: 360px) {
  header .logo span {
    bottom: 15px;
    font-size: 17px; }
  .about-main-section .nav-side-bar li a {
    font-size: 30px; } }
